.header {
  position: relative;
  margin: 10rem 0 5rem;
  z-index: 1;
}

.header-background {
  position: absolute;
  top: calc(50% - 95px);
  left: calc(50% - 95px);
  z-index: -1;
  animation: rotate-background 20000ms infinite;
  animation-timing-function: ease-in-out;
}

.header-title {
  color: var(--primary-color);
  font-size: 2.35rem;
  font-weight: 800;
  margin-bottom: 0.25em;
}

.header-subtitle {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 0;
}

@keyframes rotate-background {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 750px) {
  .header {
    margin: 5rem 0;
  }

  .header-title {
    font-size: 1.55rem;
  }

  .header-subtitle {
    font-size: 1rem;
  }

  .header-subtitle span {
    display: block;
  }
}
